
<table id="districts" class="display">

  <thead>
  <tr>
<td>
Filter by: Class
</td>
</tr>



  <tr>
    <th>Class</th>
    <th>Name</th>

    <th>City</th>

    

    <th>Population</th>
    <th>Public Computer Users</th>
    <th>Yearly Circ</th>
    


  </tr>
  </thead>
    <tbody>
<% @districts.each do |district| %>

  <tr>
    <td><%= district.district_class %></td>
    <td><%= district.district_name %></td>
    <td><%= district.city %></td>
    <td
    <td><%= district.population %></td>
    <td><%= district.public_computer_users %></td>
    <td><%= district.circ %></td>
  </tr>

<% end %>


  </tbody>

</table>

<br />



<%= link_to 'New District', new_district_path %>
