<p id="notice"><%= notice %></p>

<p>
  <b>Director name:</b>
  <%= @district.director_name %>
</p>

<p>
  <b>District name:</b>
  <%= @district.district_name %>
</p>

<p>
  <b>Address line1:</b>
  <%= @district.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @district.address_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @district.city %>
</p>

<p>
  <b>State:</b>
  <%= @district.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @district.zip %>
</p>

<p>
  <b>Email:</b>
  <%= @district.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @district.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @district.website %>
</p>

<p>
  <b>Service hours:</b>
  <%= @district.service_hours %>
</p>

<p>
  <b>Population:</b>
  <%= @district.population %>
</p>

<p>
  <b>District class:</b>
  <%= @district.district_class %>
</p>

<p>
  <b>Latitude:</b>
  <%= @district.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @district.longitude %>
</p>


<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
