<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.5&sensor=false"></script>

<style type="text/css">
    .hidden {display:none;}
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript">
    $('html').addClass('hidden');
    $(document).ready(function() {
      $('html').show();
     });  
   </script>
</head>
<body>



<div id= "wrapper"> 
<div id="map" style="height: 100%; width: 100%"></div>
</div>
<div id="sitemenu" class="rounded-corners"> 
<ul>
<li><a class="on_website fancybox.iframe" href="/main/about">About</a></li>
<li><a class="tablemaster fancybox.iframe" href="/districts">Table View</a></li>
</ul>
</div>
<div id="controls" class="rounded-corners"> 
<ul>
<li>
<a href="/main/class/1">
<img src="https://dl.dropbox.com/u/228894/librarygreen.png">
Class 1
</a>
</li>
<li>
<a href="/main/class/2">
<img src="https://dl.dropbox.com/u/228894/libraryyellow.png">
Class 2
</a>
</li>
<li>
<a href="/main/class/3">
<img src="https://dl.dropbox.com/u/228894/libraryorange.png">
Class 3
</a>
</li>
<li>
<a href="/main/class/4">
<img src="https://dl.dropbox.com/u/228894/libraryred.png">
Class 4
</a>
</li>
<li>
<a href="/main/class/5">
<img src="https://dl.dropbox.com/u/228894/librarypurple.png">
Class 5
</a>
</li>
<li>
<a href="/main/class/6">
<img src="https://dl.dropbox.com/u/228894/library.png">
Class 6
</a>
</li>
</ul>
</div>
<div id="over_map" class="rounded-corners">
<div id="map-side-bar" class="rounded-corners" style=" height: 100%; width: 80%; overflow: scroll; background-color: #FFF; padding: 10px; opacity:0.75;
filter:alpha(opacity=75); /* For IE8 and earlier */ ">
<%= yield :menuheading %>
<% @districts.each do |district| %>
  <div class="map-location" data-jmapping="{id: <%= district.id %>, point: {lng: <%= district.longitude %>, lat: <%= district.latitude %>}, category: 'class<%= district.district_class %>'}">
    <a href="#" class="map-link"><%= district.district_name %></a>
    <div class="info-box">
      <h3><%= district.district_name %></h3>

<p>

  <%= district.address_line1 %>
</p>

<p>

  <%= district.address_line2 %>
</p>

<p>
  <%= district.city %>,  <%= district.state %>  <%= district.zip %>
</p>

<p>
  <b>Website:</b>
  <a class="district_website fancybox.iframe" href="<%= district.website %>">
    <%= district.website %>
  </a>	
</p>


<p>
  <b>Phone:</b>
  <%= district.phone %>
</p>



<p>
  <b>Service hours:</b>
  <%= district.service_hours %>
</p>

<p>
  <b>Service Area Population:</b>
  <%= district.population %>
</p>
<p>
   <b>Director:</b>
  <%= district.director_name %>
</p>
<p>
  <b>Email:</b>
  <%= district.email %>
</p>


<p>
<b>Zoom To:</b>
      </p>
      <div id="viewcontrols">
      <ul>
   
      <li>
      <a  onclick="stateview(<%= district.latitude %>, <%= district.longitude %>)">State Level</a>
      </li>
      <li>
      <a  onclick="regionalview(<%= district.latitude %>, <%= district.longitude %>)">Region Level</a>
      </li>
      <li>
      <a  onclick="cityview(<%= district.latitude %>, <%= district.longitude %>)">City Level</a>
      </li>
      <li>
      <a  onclick="streetview(<%= district.latitude %>, <%= district.longitude %>)">Street Level</a>
      </li>
      </ul>
      </div>
    </div>
  </div>
 <% end %> 
</div>
</div>
  <script type="text/javascript">
$(document).ready(function(){
$('#map').jMapping({

    category_icon_options: function(category){

       if (category.match('class1')) {

              return new google.maps.MarkerImage('https://dl.dropbox.com/u/228894/librarygreen.png');

           } 
      if (category.match('class2')) {

              return new google.maps.MarkerImage('https://dl.dropbox.com/u/228894/libraryyellow.png');

           } 
     if (category.match('class3')) {

              return new google.maps.MarkerImage('https://dl.dropbox.com/u/228894/libraryorange.png');

           } 
    if (category.match('class4')) {

              return new google.maps.MarkerImage('https://dl.dropbox.com/u/228894/libraryred.png');

           } 
    if (category.match('class5')) {

              return new google.maps.MarkerImage('https://dl.dropbox.com/u/228894/librarypurple.png');

           } 
           if (category.match('class6')) {

              return new google.maps.MarkerImage('https://dl.dropbox.com/u/228894/library.png');

           } 
          
           

         }

    });
});

</script>

   <script type = "text/javascript">
$(document).ready(function() {
	$(".district_website").fancybox({
		maxWidth	: 1200,
		maxHeight	: 1000,
		fitToView	: false,
		width		: '90%',
		height		: '90%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>
   <script type = "text/javascript">
$(document).ready(function() {
	$(".on_website").fancybox({
		maxWidth	: 600,
		maxHeight	: 600,
		fitToView	: true,
		autoScale	: true,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none',
		scrolling   : 'no'
	});
});
</script>
 
    <script type = "text/javascript">
$(document).ready(function() {
	$(".tablemaster").fancybox({
		maxWidth	: 1200,
		maxHeight	: 1000,
		fitToView	: false,
		width		: '95%',
		height		: '95%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>

</body>
</html>
